
 body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
  align-items: center;
}

.Cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.Apps {
  margin: auto auto;
  background-color: rgb(211, 221, 221);
  padding: 40px;
  align-items: center;
  justify-content: center;
  
}

